<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 300px;
        }
        h2 {
            margin-bottom: 20px;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #45a049;
        }
        .register-button {
            background-color: #008CBA;
            margin-top: 10px;
        }
        .register-button:hover {
            background-color: #007bb5;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="/Login/Login">
            <input type="text" name="nomeUsuario" placeholder="Nome de Usuário" required>
            <br>
            <input type="password" name="senha" placeholder="Senha" required>
            <br>
            <button type="submit">Entrar</button>
        </form>
        <button class="register-button" onclick="window.location.href='@Url.Action("Registrar", "Login")'">Registrar novo usuário</button>
    </div>
</body>
</html>
